// Bootstrap overrides

//grid breakpoints
$grid-breakpoints    : (
  xs                 : 0,
  sm                 : 480px,
  md                 : 768px,
  lg                 : 992px,
  xl                 : 1200px,
  xxl                : 1440px
); //to get value using map-get($grid-breakpoints, "lg")
// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm                 : 440px,
  md                 : 720px,
  lg                 : 960px,
  xl                 : 1200px,
  xxl                : 1200px
);

//base color
$primary                    : #22A05B; //1
$secondary                  : #29C06D; //2
$success                    : #30E07F; //3
$info                       : #36FF92; //4
$warning                    : #E74C3C; //5
// $danger                     : #F1F1F2; //6
// $light                      : #F0F0F0;
// $dark                       : #464646;
// $muted                      : #C4C4C4;